/* add your CSS here */
.outerCard{
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 315px;
    height: 700px;
    background-color: #f5f5f5;
    box-shadow: 10px 10px 5px grey;
    border-radius: 10px;
    
}
.animalName{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    border-style: double;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}
.animalImage{
    width: 300px;
    border: 1px solid black;
    border-style: double;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.textInformation{
    border: 1px solid black;
    border-style: double;
    padding: 5px;
    margin: 7px;
}
.introParagraph{
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    display: flex;
    font-style: italic;
}
.listGeneral{
    list-style:none;
    padding: 5px;
}
.listElement{
    font-style: italic;
}
.outroParagraph{
    text-align: center;
    font-size: 16px; 
}
.span{
    font-weight: bold;
}